@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* .bg--50{

}
.bg--100{

}
.bg--200{

}
.bg--300{

}
.bg--400{

}
.bg--500{

}
.bg--600{

}
.bg--700{

}
.bg--800{

}
.bg--900{

} */

.bg-amber-50{
background-color: #fffbeb;
}
.bg-amber-100{
background-color: #fef3c7;
}
.bg-amber-200{
background-color: #fde68a;
}
.bg-amber-300{
background-color: #fcd34d;
}
.bg-amber-400{
background-color: #fbbf24;
}
.bg-amber-500{
background-color: #f59e0b;
}
.bg-amber-600{
background-color: #d97706;
}
.bg-amber-700{
background-color: #b45309;
}
.bg-amber-800{
background-color: #92400e;
}
.bg-amber-900{
background-color: #78350f;
}
